# Dépendances
node_modules
.pnp
.pnp.js

# Tests
coverage
.nyc_output

# Build
.next/
out/
build
dist
*.tsbuildinfo

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système d'exploitation
.DS_Store
Thumbs.db

# Éditeurs et IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Fichiers temporaires
*.tmp
*.temp
.cache/
tmp/
.dart_tool/


# Debug
.debug
debug

# Fichiers spécifiques au projet
.vercel
.turbo
.serverless

# Fichiers de verrouillage (selon stratégie)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Base de données
*.sqlite
*.db

# Certificats
*.pem
*.key

.vscode
.firebaserc
*.prompt.md